

body {
 text-align: center;
  
  font-family: 'Great Vibes';

color:#87bd8b;
 font-size: 25px;
background-image: url("fondo3.jpg");

}

.crear {
box-shadow: 0 0 10px #2E8B57;

  padding: 20px;
  border-radius: 25px;
  width: 250px;
    height: auto;
  margin: auto;
  text-align: center;

    background-color:  #14502d;
}

.particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-size: 20px;
}

/* Emojis */
.particles span {
  position: absolute;
  animation: fall linear infinite;
}

/* ///////////////////////////////////////Animación////////////////////////////////////////////// */

@keyframes fall {
  0% {
    animation-delay: 2s;
    transform: translateY(-5vh) rotate(19deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}
.particles span:nth-child(1) { right: 10%; animation-duration: 6s; }
.particles span:nth-child(2) { right: 20%; animation-duration: 8s; }
.particles span:nth-child(3) { right: 30%; animation-duration: 9.5s; }
.particles span:nth-child(4) { right: 40%; animation-duration: 7.8s; }
.particles span:nth-child(5) { right: 50%; animation-duration: 6s; }
.particles span:nth-child(6) { right: 60%; animation-duration: 5.6s; }
.particles span:nth-child(7) { right: 70%; animation-duration: 13s; }
.particles span:nth-child(8) { right: 80%; animation-duration: 7s; }
.particles span:nth-child(9) { right: 90%; animation-duration: 5s; }
.particles span:nth-child(10){ left: 33%; animation-duration: 8s; }
.particles span:nth-child(11){ left: 67%; animation-duration: 9s; }
.particles span:nth-child(12){ left: 29%; animation-duration: 10s; }
.particles span:nth-child(13){ left: 28%; animation-duration: 11s; }
.particles span:nth-child(14){ left: 89%; animation-duration: 12s; }
.particles span:nth-child(15){ left: 59%; animation-duration: 6s; }
.particles span:nth-child(16){ left: 51%; animation-duration: 9s; }
.particles span:nth-child(17){ left: 34%; animation-duration: 13s; }
.particles span:nth-child(18){ left: 14%; animation-duration: 19s; }


/*¨///////////////////////////////BOTONESSSSS///////////////////////////////////////////////////*/
button{
    font-family: 'Great Vibes';
    font-size: 67px;
    margin-left:auto ;
    margin-top:100px;
   height: auto;
   width: auto;
  border-radius: 50px;
 
 border: 0px;
 color: #294b2b;
 text-shadow: 0 0 20px #2E8B57;
    background-color:#4CAF50;
    box-shadow: 0 0 20px rgb(0, 253, 0);
}

/*¨///////////////////////////////FOTOS Y VIDEOS///////////////////////////////////////////////////*/
.spoti{

box-shadow: 0 0 6.7px #2E8B57;

  padding: 20px;
  border-radius: 25px;
  width: 500px;
    height: auto;
  margin: auto;
  text-align: center;

    background-color:  #14502d;

}
.videoo{
margin-block-end: auto;
   height: 250px;
   width: 400px;
  border-radius: 25px;
     border: 0px;
 color: #87bd8b;
 text-shadow: 0 0 20px #00ff11;
    background-color:#036435;
    box-shadow: 0 0 20px rgb(0, 253, 0);
    
}
.imagen_1 {
        margin-left:auto  ;
    margin-top:200px;
   height: 200px;
   width: 300px;
  border-radius: 25px;
     border: 0px;
 color: #87bd8b;
 text-shadow: 0 0 20px #00ff11;
    background-color:#036435;
    box-shadow: 0 0 20px rgb(0, 253, 0);
}
.imagen_2 {
        margin-right:auto  ;
    margin-top:200px;
   height: 200px;
   width: 300px;
  border-radius: 25px;
     border: 0px;
 color: #87bd8b;
 text-shadow: 0 0 20px #00ff11;
    background-color:#036435;
    box-shadow: 0 0 20px rgb(0, 253, 0);
}
.imagen_3 {
        margin-left:auto  ;
  
   height: 200px;
   width: 300px;
  border-radius: 25px;
     border: 0px;
 color: #87bd8b;
 text-shadow: 0 0 20px #00ff11;
    background-color:#036435;
    box-shadow: 0 0 20px rgb(0, 253, 0);
}
.imagen_4 {
        margin-right:auto ;
  
   height: 200px;
   width: 300px;
  border-radius: 25px;
     border: 0px;
 color: #87bd8b;
 text-shadow: 0 0 20px #00ff11;
    background-color:#036435;
    box-shadow: 0 0 20px rgb(0, 253, 0);
}
/*¨///////////////////////////////////////////////////////////////////////////////////////////////*/

.timerrr{

#contador {
  text-align: center;
  color: rgb(20, 136, 4);
  font-size: 24px;
}

#tiempo {
  font-size: 28px;
  margin-top: 10px;
}
  
}